documentation/*
chip/*
logistics/*
other/*
workshop/*
build/*
.DS_Store
.#*
*~
*.slo
*.lo
*.o
*.obj
*.lai
*.la
*.a
*.lib
*.so
*.dylib
*.dll
logs/*
lib/*
static/*
assets/*
*.jpeg
*.jpg
*.png
*.json
*.cmake
*#
Makefile
GPATH/*
GRTAGS/*
GTAGS/*
GPATH
GRTAGS
GTAGS
tests/*
SoDA_FEUtil*
